h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem;
}

p {
  font-size: 1.6rem;
}

span {
  font-size: 1.3rem;
}

article {
  span {
    font-family: 'EBGaramondItalic';
    color: darken($yellow, 20%);
  }
}
