h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.5rem;
}

p {
  font-size: 1.7rem;
}

span {
  font-size: 1.6rem;
}

article span {
  font-family: "EBGaramondItalic";
  color: #ad8302;
}

.header {
  padding: 30px 20px;
}
.header-logo {
  font-family: "TheGwatmey";
  margin-bottom: 20px;
}
.header-time {
  font-family: "EBGaramondItalic";
  color: #fa5252;
}
.header-divider {
  border-color: #868e96;
}
.header-auth .btn {
  font-size: 1.4rem;
  width: 60px;
}
.header-auth .btn a {
  text-decoration: none;
}

.main {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .main {
    width: 95%;
  }
}
.featured-header {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 50px;
  align-items: middle;
}
.featured-header-article {
  width: 90%;
  margin: auto;
}
.featured-header-article-cover {
  display: inline-block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.featured-header-aside {
  cursor: pointer;
}
.featured-header-aside-card:not(:last-child) {
  margin-bottom: 20px;
}
.featured-header-aside img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.featured-header-aside p {
  margin: 0;
}

@media (max-width: 1000px) {
  .featured-header {
    grid-template-columns: 1fr;
  }
  .featured-header-article {
    width: 100%;
  }
  .featured-header-aside {
    cursor: pointer;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .featured-header-aside {
    gap: 30px;
    grid-template-columns: 1fr;
  }
  .featured-header-aside-card:not(:last-child) {
    margin-bottom: 0;
  }
}
.blogCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  justify-content: center;
  column-gap: 20px;
  row-gap: 50px;
  margin-top: 80px;
}
.blogCards-title {
  grid-column: 1/-1;
  font-family: "EBGaramondItalic";
  font-weight: bold;
  background: #fa5252;
  color: white;
}
.blogCards-article {
  cursor: pointer;
}
.blogCards-article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.blogCards-article p {
  margin: 0;
  margin-top: 5px;
  font-weight: 100;
  line-height: 19px;
}

.login {
  padding: 5px;
  overflow-x: hidden;
}
.login-body {
  width: 100%;
  margin-top: 80px;
  text-align: left;
}
.login h6 {
  width: 100%;
  margin-bottom: 20px;
}
.login-logo {
  padding: 20px;
  display: inline-block;
  font-size: 4.5rem;
  height: 110px;
  font-family: "TheGwatmey";
  color: #000;
}
.login form {
  width: 400px;
  margin: auto;
}
.login form label {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.login form .ant-row {
  flex-flow: column;
}
.login form input {
  height: 40px;
}
.login form .ant-col {
  text-align: left;
  margin: 0;
  padding: 0;
}

@media (max-width: 500px) {
  .login form {
    width: 95%;
  }
}
.signup {
  padding: 5px;
  overflow-x: hidden;
}
.signup-body {
  width: 100%;
  margin-top: 10px;
  text-align: left;
}
.signup h6 {
  width: 100%;
  margin-bottom: 20px;
}
.signup-logo {
  padding: 20px;
  display: inline-block;
  font-size: 4.5rem;
  height: 110px;
  font-family: "TheGwatmey";
  color: #000;
}
.signup form {
  width: 400px;
  margin: auto;
}
.signup form label {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.signup form .ant-row {
  flex-flow: column;
}
.signup form input {
  height: 40px;
}
.signup form .ant-col {
  text-align: left;
  margin: 0;
  padding: 0;
}

@media (max-width: 500px) {
  .signup form {
    width: 95%;
  }
}
.singlePost {
  padding: 5px;
  margin-bottom: 30px;
  overflow-x: hidden;
  background: #fcf8f8;
}
.singlePost-logo {
  padding: 20px;
  display: inline-block;
  font-size: 4.5rem;
  height: 110px;
  font-family: "TheGwatmey";
  color: #000;
}
.singlePost-body {
  width: 90%;
  margin-top: 20px;
}
.singlePost-body-article {
  width: 90%;
}
.singlePost-body-article span {
  font-size: 1.7rem;
}
.singlePost-body-article-topic {
  font-family: "EBGaramondItalic";
}
.singlePost-body-article-cover {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.singlePost-body-article-text {
  margin-top: 20px;
}
.singlePost-body-article-text::first-letter {
  font-weight: bold;
  font-size: 4rem;
  float: left;
  font-family: "EBGaramondItalic";
}
.singlePost-footer {
  width: 90%;
}
.singlePost-footer-form {
  width: 600px;
}
.singlePost-footer-comments {
  width: 400px;
}
.singlePost-footer-comments-date {
  font-family: "EBGaramondItalic";
  color: #ad8302;
}

.single-post-modal .ant-btn-primary {
  display: none;
}
.single-post-modal .ant-modal-close {
  display: none;
}

@media (max-width: 700px) {
  .singlePost-body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .singlePost-footer-form {
    width: 99%;
  }
}
@media (max-width: 480px) {
  .singlePost-footer-comments {
    width: 95%;
  }
}
.page404 {
  padding: 5px;
  margin-bottom: 30px;
  overflow-x: hidden;
}
.page404-logo {
  padding: 20px;
  display: inline-block;
  font-size: 4.5rem;
  height: 110px;
  font-family: "TheGwatmey";
  color: #000;
}

.page500 {
  padding: 5px;
  margin-bottom: 30px;
  overflow-x: hidden;
}
.page500-logo {
  padding: 20px;
  display: inline-block;
  font-size: 4.5rem;
  height: 110px;
  font-family: "TheGwatmey";
  color: #000;
}

@font-face {
  font-family: "TheGwatmey";
  src: url("../fonts/TheGwathmey.woff") format("woff");
}
@font-face {
  font-family: "EBGaramondItalic";
  src: url("../fonts/EBGaramond-Italic.woff") format("woff");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*# sourceMappingURL=style.css.map */
