.blogCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  justify-content: center;
  column-gap: 20px;
  row-gap: 50px;
  margin-top: 80px;

  &-header {
    grid-column: 1 / -1;
    font-family: 'EBGaramondItalic';
    font-weight: bold;
    background: $brown;
    color: white;
  }

  &-article {
    cursor: pointer;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    p {
      margin: 0;
      margin-top: 5px;
      font-weight: 100;
      line-height: 19px;
    }
  }
}
