.header {
  padding: 30px 20px;

  &-time {
    font-family: 'EBGaramondItalic';
    color: $brown;
  }

  &-divider {
    border-color: $teal;
  }

  &-auth {
    .btn {
      font-size: 1.4rem;
      width: 60px;

      a {
        text-decoration: none;
      }
    }
  }
}
