@import './includes/colors';
@import './includes/utils';
@import './components/header';
@import './components/main';
@import './components/featured';
@import './components/blogcards';
@import './components/login';
@import './components/signup';
@import './components/singlePost';

@font-face {
  font-family: 'TheGwatmey';
  src: url('../fonts/TheGwathmey.woff') format('woff');
}

@font-face {
  font-family: 'EBGaramondItalic';
  src: url('../fonts/EBGaramond-Italic.woff') format('woff');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
